#body1{
    background-color: lightsalmon;
}
h2{
    text-align: center;
    font-size: 35px;
}
#headline{
    background-color: pink;
    font-size: 20px;
}
a{
 
 
 color: blue;
 background-color: lightblue;
 text-decoration: none;
 font-size: 30px;
 border-radius: 8px;
 border-spacing: 8px;
 border: 2px solid red;
 
}
#link{
    align-items: center;
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

#body2{
    background-color: lightblue;
}
img{
    width: 500px;
    height: 500px;
    border-radius: 30px;
    float: right;
    /* align-items: flex-start; */
}
#list{
    font-size: 20px;
}